<?php if (isset($_SESSION['errors'])):?>
<?php foreach($_SESSION['errors'] as $error):?>
<div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
<?php endforeach;?>
<?php endif; ?>

<h1 id="top_h1">Tähtis pealkiri</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat <em>cupidatat non proident</em>, sunt in culpa qui officia deserunt mollit anim id est
    laborum...
    <br>
 </p>