body {
    background-color: ghostwhite;
}

.page_container {
    border-style: dotted;
    margin: 0 auto;
    width: 60%;
    min-height: 100px;
    background-color: white;
}

/* from http://stackoverflow.com/questions/211383/which-method-of-clearfix-is-best */
.page_container:after {
    content:"";
    display:block;
    clear:both;
}


.content {
    position: relative;
    text-align: justify;
    float: right;
    margin-right: 5%;
    width: 70%;
}

.menu {
    position: relative;
    float: left;
    min-width: 70px;
}

.menu a {
    background-color: black;
    color: white;
    text-decoration: none;
}

.menu li :hover {
    background-color: red;
}

.validator {
    position: absolute;
    float: right;
    bottom: 0px;
}

#top_h1 {
    color: darkred;
    font-family: "Adobe Garamond Pro", monospace;
}

p {
    cursor: col-resize;
    color: black;
    background-color: beige;
}

h2 {
    border-style: dotted;
    border-radius: 15px;
}

pre {
    border-style: inset;
}

pre:hover {
    border-style: outset;
}

em {
    font-style: oblique;
    color: aquamarine;
}

ul > li {
    list-style-type: katakana-iroha;
}

.underlined {
    text-decoration: underline;
}

img.images {
    width: 175px;
    border-style: ridge;
    border-width: thick;
}

img:hover.images {
    width: 150px;
}
