body {
    margin: 0 auto;
    width: 60%;
    background-color: ghostwhite;
}

.content {
    position: relative;
    float: right;
    width: 80%;
}


.menu {
    position: relative;
    float: left;
    min-width: 70px;
}

.validator {
    position: absolute;
    bottom: 0px;
}

h1 {
    color: darkred;
    font-family: "Adobe Garamond Pro", monospace;
}

p {
    cursor: col-resize;
    color: aliceblue;
    background-color: slategrey;
}

h2 {
    border-style: dotted;
    border-radius: 15px;
}

pre {
    border-style: inset;
}

pre:hover {
    border-style: outset;
}

em {
    font-style: oblique;
    color: aquamarine;
}

ul > li {
    list-style-type: katakana-iroha;
}

.underlined {
    text-decoration: underline;
}

img.images {
    width: 175px;
    height: 290px;
    border-style: ridge;
    border-width: thick;
    border-top-color: crimson;
    border-bottom-color: purple;
    border-left-color: darkorange;
    border-right-color: greenyellow;
}

img:hover.images {
    width: 150px;
    height: 250px;
}
