* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightsteelblue;
    overflow: hidden;
    min-width: 500px;
}

.page_container {
    margin: auto;
    height: 100vh;
    background-color: blue;
    background-image: url("img/blue.jpg");
    background-size:cover
}

div.menu {
    position: relative;
    float: left;
    height: 100vh;
    background-color: ivory;
}

.menu ul {
    display: block;
    list-style-type: none;
}


.menu li a {
    display: block;
    font-size: medium;
    color: black;
    padding: 10px 10px 10px 20px;
    background-color: azure;
    text-decoration: none;
}


.menu li a:hover {
    color: white;
    background-color: dimgray;
}

.menu p {
    font-size: 14pt;
}


.search_box {
    height: 40px;
}

div.content {
    overflow: hidden;
    background-color: transparent;
}

.title_area {
    height: 40px;
    font-size: 20pt;
    background-color: lightgoldenrodyellow;
}

div.task {
    border: solid;
    border-radius: 3px;
    border-width: thin;
    border-color: cornflowerblue;
    height: 35px;
    margin-top: 1px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: white;
}

.done_button {
    position: relative;
    float: left;
    left: 5px;
    top: 7px;
}

.undone_button {
    position: relative;
    float: left;
    left: 5px;
    top: 7px;
}

/*http://stackoverflow.com/questions/31928710/text-overflow-ellipsis-on-dynamic-width-element*/
.task_name_area {
    position: relative;
    float: left;
    top: 6px;
    left: 12px;
    font-size: 14pt;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.delete_button_area {
    position:relative;
    float: right;
    top: 7px;
    right: 7px;
}

.completed_tasks_list .task {
    color: gray;
    text-decoration: line-through;
}

.error {
    color: red;
    border-radius: 5px;
    border-width: thin;
    border: thin;
 }

.message {
    color: blue;
    border: thin;
    border-radius: 5px;
    border-width: thin;
}